<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.devdogs.swot.reservation.mapper.ReservationMapper">

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO reservation(roomId, userId, reason, phone, total, startTime, endTime, dt, state, createdDate, updatedDate)
        VALUES (#{roomId}, #{userId}, #{reason}, #{phone}, #{total}, #{startTime}, #{endTime}, #{dt}, 'T', now(), now())
    </insert>


    <select id="findById" resultType="kr.devdogs.swot.reservation.mapper.ReservationMapper">
        SELECT * from reservation WHERE id = #{id} AND dt > now()
    </select>

    <update id="delete">
        UPDATE reservation SET state = 'D' WHERE id = #{id}
    </update>

    <select id="findByUserId" resultType="kr.devdogs.swot.reservation.mapper.ReservationMapper">
        SELECT * from reservation WHERE userId = #{userId} AND dt > now()
    </select>

    <select id="findByRoomId" resultType="kr.devdogs.swot.reservation.mapper.ReservationMapper">
        SELECT * from reservation WHERE roomId = #{roomId} AND dt > now()
    </select>

    <select id="readAll" resultType="kr.devdogs.swot.reservation.mapper.ReservationMapper">
        SELECT * from reservation WHERE dt > now()
    </select>

    <update id="accept" >
        UPDATE reservation SET state = 'T' WHERE id = #{id}
    </update>

    <update id="decline" >
        UPDATE reservation SET state = 'D' WHERE id = #{id}
    </update>

</mapper>