<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.devdogs.swot.application.mapper.ApplicationMapper">

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        application(boardId, userId, state, applicationDate, createdDate, updatedDate)
        VALUES(#{boardId}, #{userId}, 'C', #{applicationDate}, now(), now())
    </insert>

    <update id="accept">
        UPDATE application SET state = 'T' WHERE id = #{id}
    </update>

    <update id="decline">
        UPDATE application SET state = 'D' WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE application SET state = 'R' WHERE id = #{id}
    </update>

    <update id="deleteByBoardId">
        UPDATE application SET state = 'D' WHERE boardId = #{boardId}
    </update>

    <select id="findByBoardId" resultType="kr.devdogs.swot.application.dto.Application">
        SELECT * FROM application WHERE boardId = #{boardId} AND applicationDate >= date_format(now(), '%Y-%m-%d') AND state NOT LIKE 'R'
    </select>

    <select id="findById" resultType="kr.devdogs.swot.application.dto.Application">
        SELECT * FROM application WHERE id = #{id} AND applicationDate >= date_format(now(), '%Y-%m-%d') AND state NOT LIKE 'R'
    </select>

    <select id="myAcceptStudy" resultType="kr.devdogs.swot.application.dto.Application">
        SELECT * FROM application WHERE userId = #{userId} AND state = 'T' AND applicationDate >= date_format(now(), '%Y-%m-%d') AND state NOT LIKE 'R'
    </select>

    <select id="findByUserId" resultType="kr.devdogs.swot.application.dto.Application">
        SELECT * FROM application WHERE userId = #{userId} AND applicationDate >= date_format(now(), '%Y-%m-%d') AND state NOT LIKE 'R'
    </select>

</mapper>